body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    overflow: hidden;
}

#splash {
    position: relative;
    height: calc(100vh + 53px);
}

#splash-canvas {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

#text-content #text {
    margin-bottom: 20px;
}

.highlighted-text {
    font-weight: 600;
    color: royalblue ;
}

#splash #text-content #text {
    font-size: 32pt;
}

#buttons {
    display: flex;
    margin-bottom: 50px;
}

.button {
    padding: 12px 45px 12px 25px;
    margin: 0px 10px 20px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    position: relative;
    transition: transform 0.1s;
}

.button i {
    position: absolute;
    right: 15px;
    transition: all 0.1s;

}

#back-button {
    padding: 12px 25px 12px 45px;
}

#back-button i {
    right: auto;
    left: 15px;
}

.button:hover {
    transform: scale(105%);
    font-weight: 600;
}

#media-links {
    flex-direction: row;
}

#media-links div * {
    margin: 0px 20px 20px 20px;
    height: 64px;
    width: 64px;
    transition: transform 0.1s;
}

#media-links div a img:hover {
    transform: scale(110%);
}

#theme-changer {
    position: fixed;
    bottom: 25px;
}

#theme-changer * {
    box-sizing: border-box;
}

#theme-checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label #ball {
	background-color: #eee;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

#theme-checkbox:checked + .label #ball {
	transform: translateX(24px);
}

.year {
    margin: 0px 20px;
}

.semesters {
    align-items: baseline;
}

.sem {
    margin: 0px 30px;
    padding-bottom: 0px;
    border-radius: 15px;
    width: 25vw;
}

.sem h2 {
    margin: 0;
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

.sem-item {
    position: relative;
}

.sem-item * {
    margin: 5px 0px;
    padding: 0;
}

.module {
    flex-grow: 10;
    max-width: 18vw;
    text-align: left;
    padding: 0 0 0 8px;
    z-index: 1;
}

.perc {
    flex-grow: 1;
    z-index: 1;
}

.module-bottom {
    padding-bottom: 10px;
    border-radius: 0px 0px 15px 15px;
}

.prog-bar-container {
    display: flex;
    padding: 5px;
    flex-grow: 5;
    max-width: 6vw;
    height: 2vh;
    /* justify-content: right; */
}

.prog-bar {
    border-radius: 12px;
    height: 2.2vh;
    z-index: 0;
    text-align: right;
    padding: 0 8px 0 0;
    margin: 0;
}

#bukc a img {
    width: auto;
}