:root {
    --main-grid-vertical-gap: 2rem;
    --main-grip-horizontal-gap: 6rem;
    --section-grid-gap: 1rem;
    --grid-gap: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

body {
    margin: 0;
    background: #515151;
    color: #eee;
    font-family: "Raleway", sans-serif
}

.content {
    grid-column: content-left / content-right;
    grid-row: content-top / content-bottom;
}

.header {
    grid-column: content-left / content-right;
    grid-row: header-top / header-bottom;
}

section {
    display: grid;
    grid-template-columns: [edge-left] var(--section-grid-gap) [content-left] 1fr [content-right] var(--section-grid-gap) [edge-right];
    grid-template-rows: [edge-top] var(--section-grid-gap) [header-top] auto [header-bottom content-top] auto [content-bottom] var(--section-grid-gap) [edge-bottom];
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

section > h1 {
    margin-top: 0;
}

main {
    display: grid;
    grid-template-columns: [edge-left] var(--main-grip-horizontal-gap) [content-left] 1fr [content-right] var(--main-grip-horizontal-gap) [edge-right];
    grid-template-rows: [edge-top] var(--main-grid-vertical-gap) [content-top] 1fr [content-bottom] var(--main-grid-vertical-gap) [edge-bottom];
    justify-items: center;
    align-items: center;
}

summary {
    cursor: pointer;
    width: auto;
}

summary > * {
    display: inline;
}

.modules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.modules > details {
    width: 450px;
}


@media (max-width: 1399px) {
    :root {
        --main-grip-horizontal-gap: 1rem;
    }
}

@media (max-width: 963px) {
    .modules > details {
        margin-top: 1rem;
        flex-grow: 1;
    }
}



li > p {
    margin: 0;
    padding: 5px;
}

li {
    border: 1px solid;
    border-radius: 5px;
    /*padding: 4px;*/
    margin: 10px;
    --module-color: #fff;
    background-color: color-mix(in srgb, var(--module-color) 85%, black);
    border-color: var(--module-color);
}

progress {
    width: 100%;
    margin: 0;
    height: 2rem;
    appearance: none;
    -webkit-appearance: none;
    z-index: -1;
}

progress::-webkit-progress-bar {
    background-color: color-mix(in srgb, var(--module-color) 85%, black);
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: color-mix(in srgb, var(--module-color) 100%, black);
    border-radius: 5px;
}

li.theory {
    --module-color: #2196F3;
}

:is(li.solo.theory, li.theory) > p::before {
    content: "🧠👤 ";
}

li.group.theory > p::before {
    content: "🧠👥 ";
}

li.practical {
    --module-color: #FF9800;
}

:is(li.solo.practical, li.practical) > p::before {
    content: "💻👤 ";
}

li.group.practical > p::before {
    content: "💻👥 ";
}

li.research {
    --module-color: #ff6294;
}

:is(li.solo.research, li.research) > p::before {
    content: "💡👤 ";
}

li.group.research > p::before {
    content: "💡👥 ";
}

li.maths {
    --module-color: #F44336;
}

:is(li.solo.maths, li.maths) > p::before {
    content: attr(content) "➗👤 ";
}

li.group.maths > p::before {
    content: attr(content) "➗👥 ";
}


li p {
    position: absolute;
    display: inline-block;
    color: #fff;
    text-align: right;
}

li {
    transition: scale 1s ease-out, filter 1s ease-in;
}

li:hover {
    filter: brightness(120%);
    transition: scale 0.35s cubic-bezier(0.21,1.67,0.48,1.67), filter 0.2s;
    scale: 1.03;
}

h1 {
    font-size: 28pt;
}

.header > span {
    color: #ff4e36;
}